services:
  # pull_policy: always
  nginx:
    # image: openresty/openresty:alpine
    build: ./nginx/
    container_name: nginx
    restart: unless-stopped

    env_file:
      - .env

    ports:
      - "${HOST_PORT}:${NGX_PORT}"

    volumes:
      - ${SSL_FULLCHAIN_FILE}:/etc/ssl/fullchain.cert:ro
      - ${SSL_KEY_FILE}:/etc/ssl/cert.key:ro
      - ${NGX_TEMPLATE_CONF}:/etc/nginx/nginx.conf.template:ro
      - ./nginx/vars.list:/etc/nginx/vars.list:ro # Переменные для замены envsubst
      - ./nginx/scripts/entrypoint.sh:/etc/nginx/entrypoint.sh:ro

    environment:
      TZ: Europe/Moscow

    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "7"

    command: ["/bin/sh", "/etc/nginx/entrypoint.sh"]

  amo-gate:
    image: dyuzha/rdesk-amo-sync:latest
    container_name: rdesk-amo-sync
    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - ./rdesk-amo-sync/.tokens:/.tokens:rw
      - ./rdesk-amo-sync/logs:/logs:rw

    environment:
      TZ: Europe/Moscow

    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "7"

    # command: ["python", "main.py", "--mocked-lead-id"]
    command: ["python", "main.py"]
